$blue-color: #2f82ff;
$dark-blue-color: #1a28f1dc;

$yellow-color: #fac80f;
$violet-color: #5a31f4;
$green-color: #3c811f;
$redish-color: #f15f6f;

$grey-color: #f8f8f8;
$grey-dark-color: #666;
$grey-light-color: #ccc;

$white-color: #ffffff;
$white-dark-color: #eee;

$black-color: #000000;
$black-light-color: #222;

$error-color: #ed4337;
$light-error-color: #fd010169;
$error-secondary-color: #f02f2fd8;

$success-color: #6cc070;

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;

$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
