@import 'react-toastify/dist/ReactToastify.css';
@import './swiper';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
// @import 'swiper/scss/effect-cards';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    object-fit: cover;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #aeaeafa1;
    border-radius: 5px;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .btn-primary {
    @apply flex-center flex-grow bg-blue text-white p-1.5 rounded-md font-semibold cursor-pointer transition-[filter] duration-500 hover:brightness-110;
  }

  .btn-outlined {
    @apply flex-center flex-grow bg-grey text-blue p-1.5 rounded-md font-semibold cursor-pointer transition-[filter] duration-500 hover:brightness-90;
  }

  .link {
    @apply cursor-pointer hover:underline underline-offset-4;
  }

  .container {
    @apply max-w-[1700px] mx-auto min-h-screen p-4;
  }

  .justify-stretch {
    @media (max-width: 38em) {
      justify-content: center;
    }
  }
}
