@import 'react-toastify/dist/ReactToastify.css';
@import './swiper';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/effect-cards';
@import 'swiper/scss/autoplay';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    object-fit: cover;
  }

  input,
  button {
    border: none;
    outline: none;
    background: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #aeaeafa1;
    border-radius: 5px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset !important;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .btn-primary {
    @apply flex-center flex-grow bg-blue text-white p-1.5 rounded-md font-semibold cursor-pointer transition-[filter] duration-500 hover:brightness-110;
  }

  .btn-outlined {
    @apply flex-center flex-grow bg-grey text-blue p-1.5 rounded-md font-semibold cursor-pointer transition-[filter] duration-500 hover:brightness-90;
  }

  .link {
    @apply cursor-pointer hover:underline underline-offset-4;
  }

  .container {
    @apply max-w-[1700px] mx-auto min-h-screen p-4;
  }

  .justify-stretch {
    @media (max-width: 38em) {
      justify-content: center;
    }
  }

  .grid-15-85 {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .input-base {
    @apply p-1 font-semibold text-base leading-4 text-black-lighter placeholder:text-grey-lighter placeholder:text-lg
    underline-offset-4 placeholder:font-bold placeholder:focus:underline;
  }
}
