.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: pxToRem(10px);
  grid-template-areas:
    'menu header header'
    'menu swiper user'
    'menu offers user';

  @media (max-width: 77em) {
    grid-template-columns: 1fr 3fr;
  }

  @media (max-width: 62em) {
    grid-template-columns: 5rem 3fr;
  }

  @media (max-width: 48em) {
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'menu' 'swiper' 'offers';
  }
}

.menu {
  grid-area: menu;
  height: pxToRem(580px);
  border-radius: 12px;
  box-shadow: $shadow-1;

  @media (max-width: 48em) {
    width: 100% !important;
    height: fit-content;

    ul {
      padding: pxToRem(6px) 0;
      display: grid !important;
      grid-template-columns: 1fr 1fr;

      span {
        font-size: pxToRem(12px);
      }
    }
  }

  @media (max-width: 64em) {
    width: pxToRem(80px);

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        transform: scale(1.5);
      }
    }
  }
}

.header {
  grid-area: header;
  border-radius: 10px;
  box-shadow: $shadow-1;
}

.swiper {
  grid-area: swiper;
  height: pxToRem(300px);
  border-radius: 10px;
  box-shadow: $shadow-1;
}

.offers {
  grid-area: offers;
  position: relative;
  overflow: hidden;
  height: pxToRem(220px);
  border-radius: 10px;
  box-shadow: $shadow-1;
  @include bg-image(
    'https://img.lovepik.com/background/20211021/large/lovepik-e-commerce-banner-background-image_500366534.jpg'
  );
}

.user {
  grid-area: user;
  background: red;
  height: pxToRem(530px);
  border-radius: 10px;
  box-shadow: $shadow-1;

  @media (max-width: 77em) {
    display: none;
  }
}
