.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: pxToRem(18px);
  background: $white-color;
  @include flexed();
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper {
  margin-left: 0 !important;
  margin-right: auto;
  cursor: pointer;

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}
.mainSwiper,
.user__swiper,
.flashDeals__swiper,
.offers_swiper {
  .swiper {
    border-radius: 10px !important;
    overflow: hidden !important;
  }

  .swiper-slide img {
    height: pxToRem(300px) !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1 !important;
  }

  .swiper-pagination-bullet {
    width: pxToRem(9px) !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: $blue-color !important;
    background: $white-color !important;
    width: pxToRem(13px) !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.6) !important;
    width: pxToRem(50px) !important;
    height: pxToRem(80px) !important;
    transition: all 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    display: none;
    place-items: center;
  }

  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -15px;
  }
}

.offers_swiper {
  max-height: pxToRem(220px);
  max-width: pxToRem(750px);

  @media (min-width: 61em) {
    max-width: pxToRem(730px);
    transform: translateX(33%);
  }

  @media (max-width: 31em) {
    height: pxToRem(220px) !important;

    .swiper-slide {
      height: 100% !important;
      margin-top: 0 !important;

      img {
        height: 100% !important;
      }
    }
  }

  .swiper-slide {
    font-size: pxToRem(18px);
    background: $white-color;
    @include flexed();
    border-radius: 10px;
    height: 90%;
    margin-top: 0.7rem;
    box-shadow: $shadow-1;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  .swiper-slide img {
    height: 100% !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 40%;
  }
}

.user__swiper {
  position: relative;
  margin-left: 2rem;

  .swiper-slide {
    @include flexed();
    border-radius: 18px;
    font-size: pxToRem(22px);
    font-weight: bold;
    color: $white-color;

    img {
      height: pxToRem(240px) !important;
    }
  }
}

.flashDeals__swiper {
  .swiper-slide img {
    border-radius: 4px !important;
    height: pxToRem(320px) !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 37%;
  }

  @media (max-width: 28em) {
    .swiper-button-next,
    .swiper-button-prev {
      display: grid;
    }
  }
}

.products__swiper {
  .swiper-button-next,
  .swiper-button-prev {
    top: 43%;
    background: $white-color;
    @include sized(40px, 40px);
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: $grey-dark-color;
    box-shadow: $shadow-1;

    &::after {
      transform: scale(0.5);
    }
  }
}

.similar__swiper {
  max-width: pxToRem(650px);

  img {
    @include sized(100px, 160px);
    cursor: pointer;

    @media (min-width: 29em) {
      @include sized(150px, 200px);
    }
  }
}
